/* Full-screen loader */

:root {
  --black: #000000;
  --white: rgba(255, 255, 255, 0);
  --gray-light: black;
  --light-orange: none;
}

#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url(images/basckground2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 8px solid var(--gray-light);
  border-top: 8px solid var(--light-orange);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body.loaded #loader {
  display: none;
}

body.loaded #content {
  display: block;
}
